.title {
  font-size: 86px;
  color: yellow;
  user-select: none;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
}
.title > span:nth-child(1) { color: #00FFFF; }
.title > span:nth-child(2) { color: #FFFF00; }
.title > span:nth-child(3) { color: #FF7F00; }
.title > span:nth-child(4) { color: #00FF00; }
.title > span:nth-child(5) { color: #FF0000; }
.title > span:nth-child(6) { color: #0000FF; }
.title-wrapper {
  position: fixed;
  left: calc(50vw - 98px);
  top: calc(50vh - 93px);
  text-align: center;
}
.title-wrapper button {
  cursor: pointer;
  border: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  background: #3728b9;
  font-size: 30px;
  color: #ffffff;
  padding: 8px;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
}
.high-score {
  margin-top: 20px;
  font-family: Arial;
  color: lightgreen;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
}
