html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  margin: 0;
  font-family: barge,sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-wrapper {
  position: fixed;
  left: calc(50vw - 98px);
  top: calc(50vh - 93px);
  text-align: center;
}
.content-wrapper button {
  cursor: pointer;
  border: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  background: #3728b9;
  font-size: 30px;
  color: #ffffff;
  padding: 8px;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
  user-select: none;
}
.content__title {
  font-size: 86px;
  user-select: none;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
  color: white;
}
.mobile {
  font-family: arial;
  background: #2f2f2f;
  height: 100vh;
  width: 100vw;
  text-align: center;
}
.mobile div {
  font-size: 50px;
  color: white;
  position: absolute;
  top: calc(50vh - 87px);
  margin: 0px 20px 0px 20px;
}
